
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
   --bg-black-900:#f2f2fc;
   --bg-black-100:#fdf9ff ;
   --bg-black-50:#e8dfec;
   --text-black-900:#302e4d;
   --text-black-700:#504e70;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "poppins" sans-serif;
}
body.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;  
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.section.back-section
{
    z-index: 1;
}
.section.active
{
    z-index: 2; 
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes slideSection
{
    0%{
        transform:translateX(100%) ;
    }
    100%{
        transform: translateX(0%);
    }
}
.hidden
{
  display: none !important;  
}
.padd-15
{
    padding-left:15px ;
    padding-right: 15px;
}
.container
{
 max-width: 1100px;
 width: 100%;
margin: auto;
}
.section .container{
   padding-top: 60px;
   padding-left: 70px; 
}
.section-title
{
flex: 0 0 100%;
max-width: 100%;
margin-bottom: 60px;
}
.section-title h2
{
font-size: 40px;
color: var(--text-black-900);
font-weight: 700;
position: relative;
}
.section-title h2::before
{
content: '';
height: 4px;
width: 50px;
background-color: var(--skin-color);
position: absolute;
top: 100%;
left: 0;
}
.section-title h2::after
{
content: '';
height: 4px;
width: 25px;
background-color: var(--skin-color);
position: absolute;
top: 100%;
left: 0;
margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{
font-size: 16px;
font-weight: 500;
padding: 12px 35px;
color: white;
border-radius: 40px;
display: inline-block;
white-space: nowrap;
border: none;
background: var(--skin-color);
transition: all 0.3s ease;
}
.btn:hover
{
   transform: scale(1.1); 
}
.shadow-dark
{
 box-shadow: 0 0 20px rgba(48,46,77,0.15);   
}
/*Aside*/
.aside
{
width: 300px;
background:var(--bg-black-100) ;
position: fixed;
left: 0;
top: 0;
padding: 30px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
transition: all 0.3s ease;
}
.aside .logo{
position: absolute;
top: 20px;
left: 15px;
font-size: 30px;
text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 5px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: absolute;
}
.aside .logo a span{
    font-family: 'clicker script', cursive;
    font-size: 20px;
}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor:pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.aside .nav-toggler span
{
height: 2px;
width: 18px;
background: var(--skin-color);
display: inline-block;
position: relative;
}
.aside .nav-toggler.open span
{
    background-color: transparent;
}
.aside .nav-toggler span::before
{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);  
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::before
{
transform: rotate(45deg);
top: 0;
}
.aside .nav-toggler span::after
{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);  
  position: absolute;
  bottom: 6px;
  right: 0;
}
.aside .nav-toggler.open span::after
{
transform: rotate(-45deg);
top: 0;
}
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li{
  margin-bottom:20px ;  
  display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600px;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active
{
    color:var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px;
}
.home
{
    min-height: 100vh;
    display:flex ;
    color: var(--text-black-100);
}
.home .home-info
{
  flex: 0 0 60%;
  max-width: 60%;  
}
h3.hello
{
  font-size: 28px;
  margin: 15px;  
}
h3.hello span
 {
font-family: 'clicker script', cursive;
font-size: 30px;
font-weight: 700;
color: var(--skin-color);
}
h3.my-proffession
{
    font-size: 30px;
    margin: 15px 0;
}
.typing {
    color: var(--skin-color);
}
.home-info p
{
  margin-bottom: 30px;
  font-size: 24px;
  color: var(--text-black-700);  
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-transform: center;
    position: relative;
    padding-left: 100px;
}
.home-img::after
{
    content: '';
    position:absolute ;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: -10px;
    bottom: 160px;
}
.home-img::before
{
    content: '';
    position:absolute ;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 60px;
    top: 60px;
}
.home .home-img img
{
    padding-top: 100px;
    height: 400px; 
    margin: auto;
    border-radius: 5px;
    height: 400px;
}
.home-img img:hover
{
    transform: scale(1.05);
}
/*about*/
.about .about-content
{
 flex: 0 0 100%;
 max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
font-size: 24px;
margin-bottom: 15px;
font-weight: 700;
color: var(--text-black-100);
}
.about .about-content .about-text h3 span
{
   color: var(--skin-color); 
}
.about .about-content .about-text p
{
    font-size: 18px;
    line-height: 25px;
    color: var(--text-black-900);
}
.about .about-content .personal-info
{
    flex: 0 0 100%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item 
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-100);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
   font-weight: 400; 
   color: var(--text-black-700);
   margin-left: 4px;
   display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 25px;
}
.about .about-content .personal-info .buttons .btn
{
margin-top: 10px;
}
.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
 
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5 
{
line-height: 40px;
font-weight: 600;
font-size: 16px;
color: var(--text-black-900);
text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in
{
 position: absolute;
 left: 0;
 top: 0;
 height: 100%; 
 border-radius: 4px;
 background-color: var(--skin-color);  
}
.about .about-content .skills .skill-item  .skill-percent
{
 position:absolute;
 right: 0;
 color: var(--text-black-900);
 top: -40px;
 font-weight:400 ;
 line-height: 40px;  
}
 .education
{
    flex: 0 0 100%;
    max-width: 100%;
}
.education  h3.title
{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-black-900);

}
.education   .timeline-box
{
    flex: 0 0 80%;
    max-width: 80%;
}
.education .timeline
{
background-color: var(--bg-black-100);
padding: 40px 20px;
border: 1px solid var(--bg-black-50);
border-radius: 10px;
width: 70%;
margin-top: 10px;
position: relative;
}
.education   .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;

}
.education .timeline .timeline-item:last-child
{
    padding-bottom: 0;

}
.education .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.education   .timeline .circle-dot
    {
        position: absolute;
        left: 0;
        top: 0;
        height:15px;
        width: 15px;
        border-radius: 50%;
        background-color: var(--skin-color);
    }
    .education   .timeline .timeline-icon
    {
        font-weight: 400;
        font-size: 18px;
        color: var(--text-black-700);
        margin-bottom: 12px;
    }
    .education   .timeline .timeline-icon .fa
    {
        margin-right: 5px;
        color: var(--skin-color);
    }
    .education   .timeline .timeline-title
    {
        font-weight: 700;
        font-size: 20px;
        margin-bottom:15px;
        text-transform: capitalize;
    }
    .education  .timeline .timeline-text
    {
        line-height: 25px;
        font-size: 18px;
        text-align: justify;
        color: var(--text-black-700);
    }
/*Contact*/
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom:20px ;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
  flex: 0 0 25%; 
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;

}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fab,
.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
text-transform: capitalize;
margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
 .footer-container 
{
    flex: 0 0 100%;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    margin-top: 200px;
}
.footer-container .contact-footer
{
    display: flex;
    margin-bottom: 0;
    text-align: center;
    margin: 30px;    
}
.footer-container .contact-footer .icon{
    font-size: 30px;
    padding-right: 20px;
    text-align: center;
}


@media(max-width:1199px)
{
    .aside
    {
        left: -270px;
    }
    .aside.open
    {
    left: 0;
    }
    .aside .nav-toggler
    {
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open
    {
        left: 300px;
    }

    .section{
        left: 0;
    }
    .section.open
    {
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}
@media(max-width:991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about .about-content .education,
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
}
@media(max-width:767px)
{   
     .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



















